/ {
    aliases {
        led0 = &myled0;
        button0 = &mybutton0;
    };

    leds {
        compatible = "gpio-leds";
        myled0: led_0 {
            gpios = <&gpioc 13 GPIO_ACTIVE_LOW>;
            label = "My LED";
        };
    };

    buttons {
        compatible = "gpio-keys";
        mybutton0: button_0 {
            gpios = <&gpiob 10 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            label = "My Button";
        };
    };
};

&zephyr_udc0 {
    cdc_acm_uart0: cdc_acm_uart0 {
        compatible = "zephyr,cdc-acm-uart";
    };
};